# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
*.egg

# Django
*.log
media/
staticfiles/

# Virtualenv
venv/
.venv/
env/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Docker
mysql_data/
